:root{
  --game-container-dimension: min(100vw, 80vh, 1200px);
}

body {
  background-color: #181818;
  color: white;
  margin: auto;
  font-family: sans-serif;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.game-container {
  width: var(--game-container-dimension);
  height: var(--game-container-dimension);
  background-color: #333;
  position: relative;
}

.menu-container {
  display: flex;
  padding-right: 30%;
  padding-left: 30%;
  justify-content: center;
  flex-flow: row wrap;
}

.menu-container > * {
  flex-basis: 100%;
  text-align: center;
}
.size-slider {
  flex-basis:60%;
}
.start-btn {
  flex-basis: 80%;
}

.obstacle {
  width: 10%;
  height: 10%;
  background-color: #aaa;
  position: absolute;
  left:0%;
  top:0%;
  box-shadow: 2px 2px 5px black;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.player {
  width: 10%;
  height: 10%;
  background-color: red;
  position: absolute;
  left:0%;
  top:0%;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px black ;
}

.finish {
  width: 10%;
  height: 10%;
  background-color: hsl(120, 74%, 19%);
  position: absolute;
  left:0%;
  top:0%;
  box-shadow: 2px 2px 5px black inset;
}

.outgoing-animation {
  animation-name: growfade;
}

@keyframes growfade {
  from {
    transform: scale(1);
    opacity: 100%;
  }

  to {
    transform: scale(1.2);
    opacity: 0%;
  }
}

.incoming-animation {
  animation-name: ungrowfade;
}

@keyframes ungrowfade {
  from {
    transform: scale(1.2);
    opacity: 0%;
  }

  to {
    transform: scale(1);
    opacity: 100%;
  }
}