:root{
  --game-container-dimension: min(100vw, 80vh, 1200px);
}

body {
  background-color: #181818;
  color: white;
  margin: auto;
  font-family: sans-serif;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  width: var(--game-container-dimension);
  height: var(--game-container-dimension);
  margin: auto;
}
.top-shelf {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  height: calc(var(--game-container-dimension)/20);
  width: var(--game-container-dimension);
}
.time-bar {
  background-color: red;
  width: 100%;
  height: 100%;
  float: left;
}

.game-container {
  width: var(--game-container-dimension);
  height: var(--game-container-dimension);
  background-color: #333;
  position: relative;
}

.menu-container {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  margin-right: 7%;
  margin-left: 7%;
  padding-bottom: 22px;
  justify-content: center;
  flex-flow: row wrap;
  z-index: 200;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5%;
}

.menu-container > * {
  flex-basis: 100%;
  text-align: center;
  z-index: 200;
}

h1 {
  margin-bottom: auto;
}

.size-slider {
  flex-basis:60%;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.size-slider:hover {
  opacity: 1;
}

.size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: red;
  cursor: pointer;
}

.size-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: red;
  cursor: pointer;
}

.start-btn {
  margin-top: 12px;
  max-width: min(200px, 80%);
}

.obstacle {
  width: 10%;
  height: 10%;
  background-color: #aaa;
  position: absolute;
  left:0%;
  top:0%;
  box-shadow: 2px 2px 5px black;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.player {
  width: 10%;
  height: 10%;
  background-color: red;
  position: absolute;
  left:0%;
  top:0%;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px black ;
  z-index: 1;
}

.finish {
  width: 10%;
  height: 10%;
  background-color: hsl(120, 71%, 40%);
  position: absolute;
  left:0%;
  top:0%;
  box-shadow: 2px 2px 5px black inset;
}

.outgoing-animation {
  animation-name: growfade;
}

@keyframes growfade {
  from {
    transform: scale(1);
    opacity: 100%;
  }

  to {
    transform: scale(1.2);
    opacity: 0%;
  }
}

.incoming-animation {
  animation-name: ungrowfade;
}

@keyframes ungrowfade {
  from {
    transform: scale(1.2);
    opacity: 0%;
  }

  to {
    transform: scale(1);
    opacity: 100%;
  }
}

.preview-animation {
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.loading-icon-container {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index:500;
  background-color: black;
  padding: 40px;
  border-radius: 20%;
}

.lds-circle {
  flex-grow: 100%;
}

.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #aaa;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}